<section class="relative md:py-24 py-16" id="about">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6">
      <div class="md:col-span-6">
        <div class="lg:me-8">
          <div class="relative">
            <img
              src="assets/images/10.png"
              class="rounded-full shadow dark:shadow-gray-700"
              alt=""
            />

            <!-- <div class="absolute top-1/2 -translate-y-1/2 start-0 end-0 mx-auto size-56 flex justify-center items-center bg-white dark:bg-slate-900 rounded-full shadow dark:shadow-gray-700">
                            <div class="text-center">
                                <span class="text-sky-500 text-2xl font-semibold mb-0 block"><span [countUp]="15" class="counter-value text-6xl font-semibold">0</span></span>
                                <span class="font-semibold block mt-2">Motivos <br> Comece agora!</span>
                            </div>
                        </div> -->
          </div>
        </div>
      </div>

      <div class="md:col-span-6">
        <div class="lg:ms-8">
          <h6 class="text-sky-500 text-sm font-semibold uppercase mb-2">
            Sobre nós
          </h6>
          <h3 class="font-semibold text-2xl leading-normal mb-4">
            Nossa missão é proporcionar um aprendizado  <br />
            dinâmico, prático e eficiente.<br />
          </h3>

          <p class="text-slate-400 max-w-xl mb-6">
            Na nossa plataforma, entendemos que cada questão resolvida é um
            passo a mais rumo ao seu sonho de conquistar uma carreira sólida e
            de sucesso nos concursos militares. Por isso, criamos um ambiente
            totalmente focado em transformar sua preparação em resultados
            concretos. Aqui, você encontra ferramentas exclusivas que ajudam a
            monitorar seu desempenho, identificar seus pontos fortes e melhorar
            nas áreas que mais precisam de atenção. Além disso, oferecemos
            simulados, provas personalizadas e dicas estratégicas para que você
            esteja sempre à frente da concorrência. Mais do que uma plataforma,
            somos seus parceiros na jornada de alavancar sua carreira.
            Acreditamos no seu potencial e trabalhamos diariamente para oferecer
            o suporte necessário para que você alcance o sucesso que tanto
            almeja. Junte-se a nós e conquiste o futuro que você merece!
          </p>

          <!-- <a
            href=""
            class="h-10 px-6 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-sky-500 text-white"
            >Read More <i class="mdi mdi-chevron-right align-middle ms-0.5"></i
          ></a> -->
        </div>
      </div>
    </div>
  </div>
  <!--end container-->
</section>
