<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">
    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container relative text-center">
            <div class="grid lg:grid-cols-12 md:grid-cols-3 grid-cols-1 items-center">
                <div class="lg:col-span-3 md:text-start text-center">
                    <a href="#" class="text-[22px] focus:outline-none">
                        <img src="assets/images/logopreparacao.png" width="150" height="150" class="mx-auto md:me-auto md:ms-0" alt="">
                    </a>
                </div>

                <div class="lg:col-span-5 text-center mt-6 md:mt-0">
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> 2025. Desenvolvido por <a href="https://shreethemes.in/" target="_blank" class="text-reset">MastersDevs</a>.</p>
                </div>

                <ul class="lg:col-span-4 list-none md:text-end text-center mt-6 md:mt-0">
                    <li class="inline"><a href="https://www.facebook.com/preparacaopolicialoficial" target="_blank" class="size-8 inline-flex justify-center items-center border border-gray-800 rounded-md hover:border-teal-500 dark:hover:border-teal-500 hover:bg-sky-500 dark:hover:bg-sky-500"><i-feather name="facebook" class="size-4 align-middle" title="facebook"></i-feather></a></li>
                    <li class="inline"><a href="https://www.instagram.com/preparacaopolicialoficial/" target="_blank" class="size-8 inline-flex justify-center items-center border border-gray-800 rounded-md hover:border-teal-500 dark:hover:border-teal-500 hover:bg-sky-500 dark:hover:bg-sky-500"><i-feather name="instagram" class="size-4 align-middle" title="instagram"></i-feather></a></li>
                    <li class="inline"><a href="mailto:contato@preparacaopolicial.com.br" class="size-8 inline-flex justify-center items-center border border-gray-800 rounded-md hover:border-teal-500 dark:hover:border-teal-500 hover:bg-sky-500 dark:hover:bg-sky-500"><i-feather name="mail" class="size-4 align-middle" title="email"></i-feather></a></li>
                </ul><!--end icon-->
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer>
