<div class="text-center" style="padding-top: 20px !important; text-decoration: underline; color: #0077D9">
  <p style="font-size: 30px; ">Política de Privacidade</p>
</div>
<div style="padding: 30px;">
  <p style="text-align: justify">
    Esta Política de Privacidade descreve como o "Preparação Policial" ("nós",
    "nosso" ou "site") coleta, usa e protege suas informações pessoais quando você
    utiliza nossos serviços relacionados ao banco de questões para concursos.
    Estamos comprometidos em proteger sua privacidade e garantir a segurança de
    suas informações pessoais. Ao utilizar nosso site, você concorda com os termos
    desta política de privacidade.
  </p>
  <p style="text-align: justify"><strong>1. Informações Coletadas</strong></p>
  <p style="text-align: justify">
    1.1. Informações Pessoais: Podemos coletar informações pessoais que você
    fornece voluntariamente ao se registrar em nosso site, preencher formulários,
    fazer login, ou utilizar nossos serviços. Isso pode incluir seu nome, endereço
    de e-mail, número de telefone, senha, informações de pagamento, bem como
    quaisquer informações adicionais que você opte por fornecer.
  </p>
  <p style="text-align: justify">
    1.2. Informações de Uso: Coletamos automaticamente informações sobre sua
    interação com nosso site, incluindo seu endereço IP, tipo de navegador,
    sistema operacional, páginas visitadas, horários de acesso e informações de
    referência.
  </p>
  <p style="text-align: justify"><strong>2. Uso de Informações</strong></p>
  <p style="text-align: justify">
    2.1. Fornecimento de Serviços: Utilizamos suas informações pessoais para
    fornecer os serviços do banco de questões para concursos, incluindo a criação
    de sua conta, processamento de pagamentos, entrega de conteúdo educacional e
    suporte ao cliente.
  </p>
  <p style="text-align: justify">
    2.2. Melhoria dos Serviços: Podemos usar informações de uso para melhorar
    nossos serviços, personalizar sua experiência no site, desenvolver novos
    recursos e realizar análises de desempenho.
  </p>
  <p style="text-align: justify">
    2.3. Comunicação: Podemos entrar em contato com você por e-mail para enviar
    atualizações sobre nossos serviços, informações sobre concursos, promoções e
    outras informações relevantes. Você pode optar por não receber comunicações
    promocionais a qualquer momento.
  </p>
  <p style="text-align: justify">
    <strong>3. Compartilhamento de Informações</strong>
  </p>
  <p style="text-align: justify">
    3.1. Parceiros e Fornecedores de Serviços: Podemos compartilhar suas
    informações com parceiros e fornecedores de serviços que nos auxiliam na
    operação do site, como processadores de pagamento, provedores de hospedagem,
    serviços de entrega de e-mail e análise de dados. Eles têm a obrigação de
    manter suas informações seguras e não podem usar suas informações para fins
    diferentes dos acordados.
  </p>
  <p style="text-align: justify">
    3.2. Requisitos Legais: Em conformidade com a lei aplicável, podemos divulgar
    suas informações pessoais em resposta a solicitações governamentais, ordens
    judiciais, processos legais ou quando acreditarmos que é necessário para
    proteger nossos direitos, propriedade ou segurança, bem como a de nossos
    usuários.
  </p>
  <p style="text-align: justify">
    <strong>4. Cookies e Tecnologias Semelhantes</strong>
  </p>
  <p style="text-align: justify">
    Utilizamos cookies e tecnologias semelhantes para melhorar a experiência do
    usuário e coletar informações de uso. Você pode gerenciar as configurações de
    cookies em seu navegador, mas a desativação de cookies pode afetar a
    funcionalidade de nosso site
  </p>
  <p style="text-align: justify"><strong>5. Segurança de Dados</strong></p>
  <p style="text-align: justify">
    Tomamos medidas razoáveis para proteger suas informações pessoais contra
    acesso não autorizado, uso indevido ou divulgação. No entanto, lembre-se de
    que nenhum método de transmissão pela internet ou armazenamento eletrônico é
    totalmente seguro.
  </p>
  <p style="text-align: justify">
    <strong>6. Seus Direitos de Privacidade</strong>
  </p>
  <p style="text-align: justify">
    Você tem direitos sobre suas informações pessoais, incluindo o direito de
    acessar, corrigir, excluir e portar seus dados. Para exercer esses direitos ou
    fazer perguntas sobre nossa política de privacidade, entre em contato conosco
    através do e-mail <a style="padding-bottom: 10px; color: #0077D9;
    " href="mailto:contato&#64;preparacaopolicial.com.br">contato&#64;preparacaopolicial.com.br</a>.
  </p>
  <p style="text-align: justify"><strong>7. Menores de Idade</strong></p>
  <p style="text-align: justify">
    Nosso site não é destinado a menores de 18 anos, e não coletamos
    intencionalmente informações pessoais de menores de idade. Se você é um pai ou
    responsável legal e acredita que seu filho nos forneceu informações pessoais,
    entre em contato conosco para que possamos remover essas informações.
  </p>
  <p style="text-align: justify">
    <strong>8. Alterações na Política de Privacidade</strong>
  </p>
  <p style="text-align: justify">
    Reservamo-nos o direito de atualizar esta política de privacidade
    periodicamente para refletir mudanças em nossas práticas de privacidade. A
    data da última atualização será sempre indicada no início desta política. Ao
    continuar a usar nosso site após as alterações nesta política, você concorda
    com as revisões feitas. Esta política de privacidade destina-se a fornecer
    informações sobre como tratamos suas informações pessoais. Se você tiver
    alguma dúvida ou preocupação sobre nossas práticas de privacidade, entre em
    contato conosco através do <a style="padding-bottom: 10px; color: #0077D9;
    " href="mailto:contato&#64;preparacaopolicial.com.br">contato&#64;preparacaopolicial.com.br</a>.
  </p>
  <p style="text-align: justify">
    Obrigado por escolher o Preparação Policial. Estamos comprometidos em proteger
    sua privacidade e fornecer um ambiente seguro para suas necessidades de
    preparação para concursos.
  </p>
</div>
<div
  class="text-center"
  style="
    padding-bottom: 10px;
    color: #0077D9;
    text-decoration: underline;
    font-size: 14px;
  "
>
  <a href="/">Ir para Preparacação Policial</a>
</div>
